*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    border-bottom: 5px solid rgba(167, 13, 13, 0.81);
}
.container{
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
}
.logo{
    width: 25%;
    float: left;
    margin-top: 5px;
}
.logo img{
    width: 100%;
}
.menu{
    width: 75%;
    float: left;
}
.menu ul{
    list-style-type: none;
    padding-top: 40px;
    position: relative;
}
.menu ul li{
    float: left;
    border-right:1px solid black;   
    text-align: center;
    padding:1px 5px;
    background-color: #fff;
}
.menu a{
    text-decoration: none;
    color:black;
}
.menu ul ul{
    display: none;
    margin-top: -15px;
    position: absolute;
}
.menu ul li:hover>ul{
    display:block;
}
.menu ul li:hover>a{
    color: red;
}
.menu ul ul li{
    width: 190px;
    float: none;
    border-bottom: 1px solid black;    
    border-right: none;
    padding: 7px 0;
    position: relative;
}
.menu ul ul ul{
    display: none;
}
.menu ul ul ul li:hover>ul{
    display: block;
}
.menu ul ul ul{
    position: absolute;
    left: 101%;
    top:0;
    margin-top: -40px;
}
main{
    width: 100%;
    padding-top: 50px;
}
main .left{
    width: calc(60% - 30px);
    height: 530px;
    float: left;
    margin-right: 30px;
}
main .left .title{
    font-size: 150%;
    padding-bottom: 20px;
    color: #c93338;
    border-bottom:1px solid rgba(128, 128, 128, 0.29);
}
.form-registry{
     width: 100%;
     height: 355px;
    margin-top: 20px;
}
.info{
    width: calc(100% - 15px);
    height: 35px;
    margin: 5px;
    border:1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.332);
}
.select{
    width: calc(100% - 12px);
    margin: 5px;
    height: 35px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    color: gray;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.332);
}
#comment{
    width: calc(100% - 15px);
    height: 70px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    border:1px solid #a9a9a9;
    resize: none;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.152);
}
::placeholder{
    color: gray;
    text-indent: 5px;
}
input:focus{
    box-shadow: 0 0 7px #6aaefd;
}
main #signup{
    background-color: #ba2f36;
    padding: 13px 28px;
    font-weight: bold;
    border: #ba2f36;
    color: #fff;
    border-radius: 3px;
    float: right;
    margin-right: 8px;
    margin-top: 10px;
}
main .right{
    width: 40%;
    height: 420px;
    float: left;
}
main .right .img{
    width: 285px;
    height: 350px;
    margin: auto;
    border: 1px dashed #ba2f36;
}
main .right .img img{
    width: 283px;
}
footer{
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #a9a9a9;
    font-size: 70%;
    color: #fff;
}
footer .left{
    width: 70%;
    float: left;
    margin-top: 20px;
}
footer .right{
    width: 30%;
    float: left;
    margin-top: 20px;
}
